	html {
  		display:block;
  		height:100%;
  		box-sizing: border-box;
	}
	*,	*:before,	*:after {
	  box-sizing: inherit;
	}
	body {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		text-rendering: optimizeLegibility;
		color: #fff;
		margin:0;
		padding:3px;
		position: relative;
		margin: 0;
		padding-bottom: 6rem;
		min-height: 100%;
		line-height: initial;
	}
	a {
		color: #fff;
	}
	img {
	    vertical-align: inherit;
	}
	hr { margin-top: 5px; margin-bottom: 5px;}
	input,button,select {     
		/*border-radius: 5px 5px 5px 5px;*/
		background-color: rgba(255,255,255,0.7); 
		border: 0px;
	}
	textarea#query:focus,input:focus,button:focus,select:focus {
		outline:0;
	}
	#body-container {
		/* min-height:100%;
		min-width:100%;
		height:100%;
		margin: 0 auto; */
	}
	.container-fluid {
	  margin-right: auto;
	  margin-left: auto;
	  max-width: 950px;
	}
	#body-column {
		width:100%;
		/*
		width: 960px;
		margin: 0 auto;
		min-height: 100%;
		padding-left: 30px;
		padding-right: 30px;
		*/
		/* overflow: auto; */
		padding-bottom: 100px
	}
	#player-container{
		position: absolute;
		z-index: 301;
		display:block;
		top: 162px;
		/*right: 23px;*/
		width: 95px;
		height: 71px;
		/*
		position: relative;
		display: none;
		overflow: inherit!important;
		*/
	}
	#ytPlayer {
		position: relative;
		height:100%;
		width:100%;
	}
	#ytPlayer-thumb-close {
		position: absolute;
		z-index: 301;
		display:block;
		/*top: 72px;*/
		top: 0px;
		right: 0px;
		width: 160px;
		height: 90px;
		cursor:pointer;
	}
	#closebutton-thumb {
		display:block;
		position:absolute;
		height:30px;
		width:30px;
	}
	#closebutton-thumb img{
		height: 150%;
		margin-top: 6px;
  		margin-bottom: 6px; 
  	}
	#pb-icon { 
		height: 18px;
		margin-left: -8px;
	}
	#pb-text { font-size: 16px; color: #fff; vertical-align: 18px; background-color: rgba(0, 0, 0, 0.3);}
	#pb-date { font-weight:bold; font-size:14px; }
	#pb-menu, #info-menu {
		top: 0px;
		position: absolute;
		background: rgba(0,0,0,0.8);
		width: 400px;
		left: -400px;
		z-index: 2999;
		padding-top: 50px;
		/*overflow: auto;
		height: 100%;*/
	}
	.pb-module {
		font-size:15px;
		width: 350px;
		overflow: hidden;
		margin: 20px;
		margin-left: 40px;
		cursor:pointer;

	}
	.pb-module:hover { color:#ccc; }
	.pb-delete {
		position:absolute;
		top:0;
		right:0;
		text-decoration: none;
		cursor:pointer;
		font-size: 15px;
		color: #8A0707;
	}
	.pb-delete:hover { color: #FF3300; }
	.pb-wrapper { position: relative; margin-right:20px;}
	.line-clamp {
		  position: relative;
		  height: 5em; 
		}
	.line-clamp:after {
		  content: "";
		  text-align: right;
		  position: absolute;
		  bottom: 0;
		  right: 0;
		  width: 70%;
		  height: 1.2em;
		  /*background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);*/
	 }
	@supports (-webkit-line-clamp: 4) {
		.line-clamp {
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;  
			max-height:5em; 
			height: auto;
		}
		.line-clamp:after {
			display: none;
		}
	}

	#text-container { position: relative;width:100%; }
	textarea#query,input,button {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		/*border: 1px solid #fff;
		border-radius: 5px;*/
		padding:10px;
	}
	#query {
		/*width: 99.4%;*/
		line-height: 149%;
		width: 100%;
		height: 345px;
		color: #999;
		text-align: left;
		resize:both; 
		background-color: rgba(255,255,255,0.7);
		/*background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 10%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,0) 100%);
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 10%,rgba(255,255,255,0.5) 90%, rgba(255,255,255,0) 100%);*/
		border: 0px;
		overflow: auto!important;
	}
	input[type='checkbox'] {
		vertical-align: sub;
	}
	a:link,a:visited,a:hover,a:active { text-decoration: none; }
	a:link { color: #FFF; }
	a:visited { color: #FFF;}
	a:hover { color: #000;}
	a:active { color: #000;}

	ul{
		list-style-type: none;
	}
	h1 {
		font-size: 23px;
		font-weight: 100;
		margin-top: -5px;
		margin-bottom: 7px;
	}
	h3 {
		font-weight: 100; 
		margin-top:60px;
		margin-bottom:0px;
	}
		.font-effect-3d { font-weight: 900; }
	hr {
	  border: 0px;
	  /*border-top: 1px dotted rgba(0, 0, 0, 0.5);*/
	  border-top: 1px solid rgba(0,0,0,.25);
	  clear: both;
	}
	button#advanced .glyphicon {
		font-size:smaller;
	}
	.glyphicon {
		line-height: auto;
	}
	.advanced-top{
	  margin-top:0px;
	  padding-top:0px;
	  margin-bottom:0px;
	  padding-bottom:5px;
	}
	.similar-top {
		margin:0px;
		padding:0px;
	}
	#logo-wrapper {
		margin-top:20%;
		margin-bottom:30px;
		float:right;
	}
	#logo {
		max-width:100%;
		display: block; 
	}
	/*
	#logo:before {
		content: "";
		display: block;
		background: url("img/past-blasts-icon.svg") no-repeat;
		height: 40px; width:40px;
		float: left;
		margin: 0 6px 0 0;
	}
	
	#ytPlayer {
	  	max-width: 100%;
	  	display: block;
	  	margin: 0 auto;
	}
	*/
	#queryarea {
		position:relative;
		padding-left:4px;
	}
	#closeAdvanced {
		color: #000;
		cursor: pointer;
		text-decoration: none;
		font-size:35px;
		position: absolute;
		z-index: 300;
		display: block;
		margin-right: 8px;
		right: 0px;
		top: 0px;
	}
	#closeAdvanced:hover { color: #fff;}
	.swapzone {
		cursor:pointer;
		position: absolute;
		left:0;
		width: 29px;
		height: 47px;
	}
	a#link  {cursor:pointer;}
	.searchresult {
		white-space: nowrap;
		width: 100%;
		position: relative;
		left: 0;
		display: inline-block;
		text-align: left;
		border-bottom: 1px solid rgba(0,0,0,.25);
	}
	.searchresult-div {
		float: left;
	}
	.searchresult-title {
			float: left;
			width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-top: 19px;
			padding-right: 2px;
			padding-bottom: 5px;
			padding-left: 10px;
	}
	#thumb {
		float: left;
		vertical-align:middle;
		padding:1px;
		width:68px;
		height:45px;
		margin-top: 6px;
		margin-bottom: 6px;
	} 
	.refreshb {
		margin-top:16px;
		margin-right: 5px;
		padding:1px;
		width:27px;
		height:27px;
		opacity:0.4;
		cursor:pointer;
		filter:alpha(opacity=50); 
	}
	.refreshb:hover {
		opacity:1.0;
		filter:alpha(opacity=100); 
	}
	#refreshc {
		vertical-align: text-bottom;
		margin: 5px 2px 0px 0px;
		width:25px;
		height:25px;
	}
	#prevb, #nextb, #shuffb { 
		height:40px; 
		margin-top: 60%;
	}
	#playpb {
	    height: 100px;
    }
	#prevbutton:hover, #playpause:hover, #nextbutton:hover, #shufflebutton:hover, #wrongsong:hover, #rss-button:hover, #shuffletext:hover, #query-clear:hover, #mixbuilder-search-button:hover {
		opacity:1.0;
		-webkit-filter: invert(100%);
		filter:invert(100%); 
	}
	.disabled { opacity: 0; }
	.disabled:hover { 
		cursor:not-allowed;  
		opacity:0.2!important;
		-webkit-filter: invert(0%)!important;
		filter:invert(0%)!important; 
	}
	#button-container { 
		display: inline-block;
		/*width: 82%;*/
		float:right;
		font-size:19px;
		margin-top:10px;
		margin-left: auto; 
		margin-right: auto;
		vertical-align: top;
  	}
  	.playerbutton {
		vertical-align: top;
		text-align: top;
		display: inline-block;
		*display: inline;
		zoom: 1;
		white-space: nowrap;
		margin-right: 44px;
  	}
 	.playerbutton-littlebuttons {
 		float: right;
 		text-align: right;
 		width: 200px;
 	}
  	.stretch {
		width: 100%;
		display: inline-block;
		font-size: 0;
		line-height: 0
	}
	#editplaylist,#wrongsong {
		font-size:16px; 
		text-rendering: geometricPrecision;
		margin-bottom: 5px;
		margin-right: -6px;
		text-align: bottom;
	}
	img#wrongsong {
		vertical-align: bottom;
	}
	#wrongsong:hover {
		color:white;
	}
	#edit-playlist-icon {
		font-size:23px; 
	}
	.subtext {
		font-weight:normal; 
  		margin-top: 10px;
  		margin-bottom: 6px;
		width:100%;
	}
	.subsubtext {
		/*font-size:smaller;  */
		margin-top:auto;
		margin-left: auto; 
		margin-right: 2px;
		margin-bottom: 4px;
		width:100%;
	}
	
	.advancedFloater {
		/*float: left;*/
		display: inline-block;
		width: 55%;
		margin: 10px 0px 3px 2px;
		/*
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 10px 0px;
		width:100%;
		*/
	}
	.login-container {
		text-align:default;
		font-size: 17px;
	}
	#instructions {
		font-size: 28px;
		font-weight: 300;
		
		padding-top:15px;
		padding-bottom:15px;
	}
	#pb-button {
		cursor:pointer;
	}
	.pb-button-big {
		height: 45px;
		margin-left: 36px;
		margin-top: -10px;
	}
	#advanced,.infolink,#frbutton, #rss-dropdown, .pb-button-sm {
		color: #000;
		background-color: rgba(255,255,255,0.5)!important;
		height: 22px;
		vertical-align: middle;
		/*margin-top: 0px;*/
		font-size:13px;
		padding: 0px 10px 0px 10px;
		cursor:pointer;
	   	border-radius: 15px;
	   	white-space: nowrap;
	}
	#search-button:hover,#playlist-button:hover,#advanced:hover,.infolink:hover,#frbutton:hover,.pb-button-sm:hover, #rss-dropdown:hover { 
		/*background-color: rgb(159, 150, 160);*/
	}
	#mixbuilder-bar {
		width: 99.7%;
		height: 44px;
    	margin-left: 3px;
		display: inline-block;
		white-space: nowrap;
		position:relative;
		margin-bottom: 22px;
		background-color: rgba(0, 0, 0, 0.2);
	}
	#mixbuilder-buttons {
		visibility: hidden;
	}
	#mixbuilder-search-button {
		position: relative;
		background: url(../img/add-icon.svg) no-repeat;
		background-size: 33%;
		background-position: 50% 50%;
		background-color: rgb(255, 255, 255);
		width: 33.3%;
		height: 44px;
		border: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		cursor: pointer;
		z-index: 299;
    	padding: 15px;
	}
	#query-clear,#shuffletext {
		position: relative;
		z-index: 300;
		display: inline-block;
		cursor: pointer;
		color: #444444;
		font-size: 25px;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.4);
		color: #8A0707;
		height: 44px;
		width: 33.3%;
		font-size: 25px;
		text-decoration: none;		
		top: 0px;
		text-align: center;
		line-height: 47px;
	}
	#shuffletext {
		background-color: rgba(255, 255, 255, 0.1);
	}
	div.btn-group.btn-input, #songNum {
		color: #fff;
		height: 48px;
		/*background-color: rgba(0,0,0,0.2);
		 padding-top: 6px; */
		/* padding-left: 6px; */
		display: inline-block;
		white-space: nowrap;
		padding: 9px;
		padding-right: 0px;
	}
	.btn-default {
		background-color: inherit;
		color: inherit;
		font: inherit;
		font-size: 20px;

	}
	.btn-default:hover, .btn-default:active, .btn-default:focus, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .open>.dropdown-toggle.btn-default:active {
		color: #ccc!important;
		background-color: rgba(0,0,0,0.1)!important;
	}
	.form-control {
    	display: inherit;
    	width: inherit;
    	height: inherit;
    	padding: 0px 0px;
    	border:0px;
    }
    .dropdown-menu {
    	padding: 0px;
    	font-size: 17px;
    }
	div.btn-group.btn-input {
		/*
	    color: inherit;
	    height: inherit;
	    background-color: inherit;
	    display: inline-block;
	    white-space: nowrap;
	    */
	    padding: 0px;
	    padding-left: 10px;
	}
	.btn.btn-default.dropdown-toggle.form-control {
		height: 44px;
		width: 155px;
		border-radius: 0px 0px 0px 0px;
		text-align: left;
		padding-left: 3px;
		color: #fff;
	}
	#songNum {;
		/*border-radius: 5px 0px 0px 5px;
		margin-left: 4px!important;*/
	}
	.btn-group.btn-input {
		display: inline-block;
	}
	#topSongs-container {
		font-size: 20px;
		background-color: rgba(0,0,0,0.2);
		/* padding-top: 6px; */
		/* padding-left: 6px; */
		display: inline-block;
		white-space: nowrap;
		padding: 8px;
	}
	#topSongs-num, #similar-num {
		font-size:20px;
		color: #fff;
		background-color: rgba(0,0,0,0.1); 
		border:0px;
		padding:0px;
		padding-left:2px;
		padding-right:2px;
		width: 60px;
		text-align: center;
	}
	#similar-num {
	    font-size: 15px;
	    width: 40px;
	}
	#drop-topSongs #topSongs-num { color: #000;}
	#drop-similarSongs #topSongs-num { color: #000;}
	#mixbuilder-artist {
		white-space: nowrap;
		color: #000;
		/*width: 114.2%;
		border-radius: 0px 5px 5px 0px;*/
		background-color: rgba(255,255,255,0.7);
		font-size: 18px;
		height: 44px;
		padding: 0px;
		padding-left: 13px;
		padding-right: 5px;
		padding-top: 0px;
		border: 0px;
		width: 100%;
	}
	#mixbuilder-artist, #mixbuilder-song, #mixbuilder-album {
		color: #000;
		display: inline-block;
		font-size: 18px;
		height: 44px;
		padding: 0px;
		padding-top: 0px;
		border: 0px;
		padding-left: 13px;
		padding-right: 5px;
		/*border-radius: 0px 5px 5px 0px;*/
	}
	#mixbuilder-artist {
		width: 100%;
		border-radius: 0px 0px 0px 0px;
	}
	#mixbuilder-song, #mixbuilder-album {
		width: 50%;
		border-left: 1px solid #888888;
		border-width: thin;
		/*border-radius: 0px 5px 5px 0px;*/
	}
	#related-container {
		font-size: 15px;
		/*padding-bottom: 5px;*/
		margin-left: 5px;
		text-align: justify;
		overflow: hidden;
		height: 94px;
		width: 100%;
	}
	#related-more {
		font-size:15px;
		float: right;
    	line-height: normal;
    	cursor: pointer;
    	margin-top: 3px;
    	margin-right: -5px;
	}
	.similar-artistButton {
		background-color: rgba(0,0,0,0.4);
		/*border-radius: 5px;*/
		line-height: 37px;
		padding: 5px;
	}
	a.similar-artistButton:hover { 
		color: #ccc;
		-webkit-filter: invert(100%);
		filter:invert(100%); 
	}
	#similarArtTitle {
		color: #000;
		background-color: rgba(255,255,255,0.2); 
		padding:3px;
	}
	#rss-container {
		display: inline-block;
	}
	#rss-dropdown{
		width:100px;
	}
	#rss-button{
		vertical-align: middle;
		height: 31px;
		width: 31px;
		cursor: pointer;
	}
	.infolink, .pb-button-sm {	
		position:relative;
		width:24px;
		/*padding-left:4px;
		padding-right:5px;
		cursor:help;*/
	}
	.infolink::before
	{
		content: '?';
		font-size: 90%;
		font-family: sans-serif;
		font-weight: bold;
		text-align: center;
		line-height:1;
		display: inline-block;
		margin-left: -3px;
	}
	/* extend clickable area for 3d buttons */
	.infolink:after, .pb-button-sm:after, #advanced:after, #rss-dropdown:after, #search-button:after {
		content:'';
		position:absolute;
		top:-11px; bottom:-11px;
		left:-11px; right:-11px;
	}

	#infodiv {
		padding:40px;
		margin-top:-47px;
		height: 1000px;
		/* width: 100%; */
		/* height: 200%; */
		/* min-height:100%; */
	}
	#infoear {
		height:90px;
	}
	#blast-button-container {
		padding-top: 20px;
		margin-left: 22px;
		/*
		padding-left: 25px;
		padding-right: 12px;
		*/
		height: 88px;
		vertical-align: bottom;
	}
	#search-button,#playlist-button {
		color: #000;
		height: 52px;
		width: 232px;
		font-size:22px;
		cursor:pointer;
		font-weight: bold;
		border-radius: 5px 5px 5px 5px;
	}
	.leftBottom {
		transition: margin-top 0.1s ease, margin-left 0.1s ease, box-shadow 0.1s ease;
		background: #0DD262;
		border: solid 1px #0A9947;
		box-shadow: -1px 0px 0px #0A9947,-0px 1px 0px #0A9947, -2px 1px 0px #0A9947,-1px 2px 0px #0A9947, -3px 2px 0px #0A9947,-2px 3px 0px #0A9947, -4px 3px 0px #0A9947,-3px 4px 0px #0A9947, -5px 4px 0px #0A9947,
		-4px 5px 0px #0A9947, -6px 5px 0px #0A9947,-5px 6px 0px #0A9947, -7px 6px 0px #0A9947,-6px 7px 0px #0A9947, -8px 7px 0px #0A9947,-7px 8px 0px #0A9947, -9px 8px 0px #0A9947,-8px 9px 0px #0A9947;
	}
	.leftBottom:active{

		transition: margin-top 0.1s ease, 
					margin-left 0.1s ease, 
					box-shadow 0.1s ease;

	    margin-left:-10px;
		margin-top:10px;
		
	  	box-shadow: 0px 0px 0px #D32F2F;
	  	
	}
	.leftBottom-lb {
		border: solid 1px #696969;
		box-shadow: -1px 0px 0px #696969,-0px 1px 0px #696969, -2px 1px 0px #696969,-1px 2px 0px #696969, -3px 2px 0px #696969,-2px 3px 0px #696969, -4px 3px 0px #696969,-3px 4px 0px #696969, -5px 4px 0px #696969,
		-4px 5px 0px #696969, -6px 5px 0px #696969,-5px 6px 0px #696969, -7px 6px 0px #696969,-6px 7px 0px #696969, -8px 7px 0px #696969,-7px 8px 0px #696969, -9px 8px 0px #696969,-8px 9px 0px #696969;	
	}
	.spacer {
		height: 13px;
	}
	#play-arrow-icon {
		height: 17px;
		width: 17px;
		-webkit-filter: drop-shadow(0 1px 0 rgba(255,255,255, .8));
		filter: drop-shadow(0 1px 0 rgba(255,255,255, .8)); 
	}
	#playlist-button { float:right; }
	#playlist-title,#playlist-url-copy {
		color:#000;
		font-weight: normal;
		width: 320px;
		background-color: rgba(255,255,255,0.5);  
	}
	#playlist-url-copy { width:500px; }
	.playlist-container { width:100%; clear:both;}
	.lefty { width:50%; float: left;}
	.righty { width:38%; float: right; }
	#playlist-status { width:99.4%px; padding-top: 20px;}
	#advanced-container {
		position: relative;
		width:100%;
		margin-top: 27px;
		display: inline-block;
		font-size:14px;
		font-weight:normal;
		margin-left: 3px;
		background-color: rgba(255,255,255,0.1);
	}
	.checkbox-label {
		font-weight: normal;
		cursor:pointer;
	}
	.advanced-tips {
		color: #000;
	}
	.advanced-tips-title {
		width:100%;
		display: inline-block;
		/*border-radius: 5px;*/
		color: #000;
		font-size: 110%;
		background-color: rgba(255,255,255,0.3);
		padding:10px;
	}
	.row-bg {
		background-color: rgba(255,255,255,0.3);
	}
	#fileinput {
		background-color: transparent;
		display: inline-block;
		color: black;
		font-size:12px;
		padding-top:0px;
		padding-bottom:0px;
		/*width: 180px!important;*/
	}
	#addartist,#find,#replace,#frbutton {
	  color: #000;
	  font-size: 12px;
	  padding:1px;
	}
	#frbutton {
		width:25px;
	}
	#find,#replace {
		width: 60px;
	}
	#videoprofessor {
		border: solid 1px black;
		position: fixed;
		left: 65%;
		top: 240px;
		background-color: white;
		z-index: 100;
		height: 200px;
		margin-top: -100px;
		width: 190px;
		margin-left: -95px;
	}
	a.yoyull:link, a.yoyull:visited ,a.yoyull:hover, a.yoyull:active {
		color: #000000; text-decoration: underline; 
		cursor:help;
	}
	#flame {
		display: none;
		bottom: 100px;
		z-index: 100;
		width:99.4%px;
		height:272px;   
		/*background-image:url('img/flame.gif');*/
	}
	#errormsg {
		color: white;
		text-align: left;
		background-color: rgba(234,19,19,0.8);
		padding: 10px;
		width: 52%;
		height: auto;
		position: absolute;
		top: 44%;
		left: 24%;
		z-index: 691;
	}
	#not-found {
		color: #fff;
		background-color: rgba(0,0,0,0.3);
		padding: 0px;
  		border: 0px;
  		width: 196px;
	}
	#emailme {
		font-size: 21px;
	}
	#api-about {
		font-size:10px;
	}
	#container {
    	display: block; 
    	position:relative
	} 
	.nopadding {
		padding: 0px;
	}
	.nomargin {
		margin: 0px;
	}
	.ui-autocomplete {
		position: absolute;
		padding-left: 0px;
		/*width:233px;*/
		z-index: 302;
		/*height:90%;*/
	}
	.ui-helper-hidden-accessible { display:none; }
	.ui-menu-item {
		padding:5px;
		padding-left: 13px;
		/*width:233px;*/
		background-color: rgba(255,255,255,0.95);
	}
	li.ui-menu-item:hover {
	  	background-color: rgba(0,0,0,0.5);
	  	cursor:pointer; 
  		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	.ui-menu-item:hover a {
		color:#fff;
	}
	a.ui-corner-all {
		cursor:pointer; 
		color:#666;
	}
	#ui-id-1 {
		width:300px;
		height:150px!important;
		z-index:999;
	}
	#ui-id-2 {
		position: absolute!important;
	}
	.ui-state-hover {
		background-color: rgba(0,0,0,0.5);
	}
	a.ui-state-hover {
		color:#fff;
	}
	.ui-state-focus {
	  	background-color: rgba(0,0,0,0.5);
	  	cursor:pointer; 
  		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;		
	}
	a.ui-state-focus {
		color:#fff;
	}
	li.ui-state-focus {
	  	background-color: rgba(0,0,0,0.5);
	  	cursor:pointer; 
  		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	#foot-wrap {
		position: absolute;
		width: 100%;
		bottom: 0px;
	/*	
		max-width: 960px;
		height: 100px;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
	*/
	}
	#blast-button-container > div > div.col-md-6.nopadding > div > div.col-xs-1 {
		padding-right: 36px;
	}
	#mixbuilder-bar > div.col-md-3.nopadding {
		text-align: center;
	}

@media only screen and (max-width:992px){
	#mixbuilder-bar {
		margin-bottom: 110px;
	}
	#mixbuilder-bar > div.col-md-3.nopadding {
		text-align: left;
	}
	#blast-button-container {
		padding-top: 0px;
	}
	#button-container {
	    margin-top: 40px;
	}
	#blast-button-container > div > div.col-md-6.nopadding > div {
		height:40px;
	}
	#blast-button-container > div > div.col-md-6.nopadding > div > div.col-xs-1 {
	    padding-right: 26px;
	}
	#blast-button-container > div > div.col-md-6.nopadding > div > div:nth-child(3) {
	    margin-left: 0px;
	}
	#blast-button-container > div > div.col-md-6.nopadding > div > div:nth-child(4) {
		margin-left: 30px;
	}
	#mixbuilder-bar > div.col-md-9.nopadding.nomargin > div > div.col-xs-9.nopadding.nomargin {
	    margin-left: -10px;
	}
	#mixbuilder-search-button {
    	background-size: 18%;
	}
	#mixbuilder-search-button, #query-clear, #shuffletext {
		width:33.3%;
	}
	#mixbuilder-artist, #mixbuilder-song, #mixbuilder-album {
		margin-top: -3px;
	}
	#logo-wrapper {
		width: auto;
	}
	#playlist-button {
    	margin-top: 70px;
    }
	#body-column {
	    width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.advanced-tips {
		color: #000;
		display: block;
		padding-left: 2px;
		padding-top: 4px;
	}
	.nopadding {
		padding: initial;
		/*padding-right: 8px;*/
	}
	.searchresult-div {
		width: 18%;
	}
	.searchresult-title {
		width: 77%;
	}
}
	/*========== GRADIENT BACKGROUND ==========*/
	.gradient-background {
	  position: fixed;
	  top:0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -1;
	  -webkit-transition: background .3s;
	  -moz-transition: background .3s;
	  -ms-transition: background .3s;
	  -o-transition: background .3s;
	  transition: background .3s;
	  background-color: #ccc;
	  /*background-color: #7fc5c9;*//*top colour*/
	  /*background-image: linear-gradient(#7fc5c9, #deabbe);
	  background-image: -webkit-linear-gradient(top, #7fc5c9, #deabbe);
	  background-image: -moz-linear-gradient(top, #7fc5c9, #deabbe);
	  background-image: -o-linear-gradient(top, #7fc5c9, #deabbe); */
	}
